/* Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* Global Variables --------------------------------------------------------- */
* {
  /* colors */
  --light: #ffffff;
  /* --grey-050: #f5f5f5; */
  --grey-100: #ededed;
  --grey-200: #dedede;
  /* --grey-300: #929ca6; */
  --grey-400: #78818a;
  --grey-500: #5e6770;
  --grey-600: #343a40;
  /* --blue-400: #209cee; */
  --blue-500: #2282e0;
  --blue-600: #1f6bb5;

  /* units */
  --border-radius: 8px;
  --main-spacing: 16px;
  --page-width: 1150px;
}


/* Override Defaults ------------------------------------------------------- */
*,
*::before,
*::after {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5em;
}


/* Custom Presets ----------------------------------------------------------- */
a {
  color: var(--blue-500);
  text-decoration: none;
}
a:hover {
  color: var(--blue-600);
  text-decoration: underline;
}

body {
  /* prevent any overflow from breaking layout */
  overflow-x: hidden;
  /* grid background */
  background-image:
    linear-gradient(#f5f5f5 1px, transparent 1px),
    linear-gradient(to right, #f5f5f5 1px, #ffffff 1px);
  background-size: 20px 20px;
  /* scrollbar always active to prevent layout shifts */
  overflow-y: scroll;
  /* Force footer to bottom of screen. */
  min-height: 100vh;  /* body is always at least as tall as the device screen */
  display: flex;           /* The body element aligns its direct children... */
  flex-direction: column;  /* ...into a vertical column and... */
}
main { flex: 1; }          /* ...the main element fills all available height. */

button {
  cursor: pointer;
  background: 0;
  border: 0;
}

code {
  display: block;
  background: var(--grey-100);
  font-family: monospace;
  white-space: pre;
  max-width: 100%;
  overflow-x: auto;
  padding: var(--main-spacing);
}

/* figures - images with captions */
figure {
  text-align: center;
}
figure figcaption {
  font-style: italic;
  color: var(--grey-500);
}

/* set custom heading font sizes */
h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.75rem; }

/* images and videos */
img,
video {
  border-radius: var(--border-radius);
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* Lists */
ol,
ul {
  display: flex;
  flex-direction: column;
  gap: calc(var(--main-spacing) / 2);
}
ol li,
ul li { padding-left: 1em; }
ol li { list-style: decimal inside; }
ul li { list-style: inside; }

/* main page content section */
main .wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--main-spacing);
}

/* svg defaults */
svg { fill: var(--light); }


/* Custom Classes ----------------------------------------------------------- */
/* Grouped Article Layouts */
/* Grid of Articles */
.article-grid {
  display: grid;
  gap: var(--main-spacing);
  grid-template-columns: repeat( auto-fill, minmax( min(20em, 100%), 1fr) );
}
/* grid article cards */
.article-grid article {
  max-width: 100%;
  overflow: hidden;
  background: var(--grey-100);
  border-radius: var(--border-radius);
  padding: var(--main-spacing);
  display: flex;
  flex-direction: column;
  gap: calc(var(--main-spacing) / 2);
}
.article-grid article img {
  aspect-ratio: 2 / 1;
  object-fit: cover;
  width: 100%;
}
.article-grid article h1,
.article-grid article h2,
.article-grid article h3,
.article-grid article h4,
.article-grid article h5,
.article-grid article h6,
.article-grid article a {
  line-height: 1.25em;
}

/* List of Articles */
.article-list {
  display: flex;
  flex-direction: column;
  gap: var(--main-spacing);
}
.article-list article:not(:last-child) {
  border-bottom: 3px solid var(--grey-100);
  padding-bottom: var(--main-spacing);
}

/* Container of mixed article-grid and article-list sections */
.article-gallery > .article-grid,
.article-gallery > .article-list {
  border-bottom: 3px solid var(--grey-400);
  padding-bottom: calc(var(--main-spacing) * 2);
}
.article-gallery > *:last-child { border-bottom: 0; }


#breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

/* blog post date text */
.date-text { color: var(--grey-500); }


figure.emphasized figcaption {
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
}

.flex {
  display: flex;
  gap: var(--main-spacing);
}

.inset-block {
  padding-left: var(--main-spacing);
  padding-right: var(--main-spacing);
}

/*
  Page Title Area:
  - either just an h1 tag,
  - or a container with an h1 and other details inside.
  (underline it)
*/
#overview, h1 {
  border-bottom: 3px solid var(--grey-400);
  padding-bottom: var(--main-spacing);
}
/*
  remove underline if h1 is inside overview container,
  since container already has the underline
*/
#overview h1 {
  border-bottom: 0;
  padding: inherit;
}

/* page wrapper to center content */
.wrapper {
  max-width: var(--page-width);
  margin: auto;
  padding: 0 var(--main-spacing);
}


/* Header ------------------------------------------------------------------- */
header {
  background: var(--grey-600);
  color: var(--light);
}

/*
  Wrapper layout changes between active and inactive states:
    inactive:
      - nav is hidden
      - icon image and hamburger button on opposite sides
    active:
      - nav is visible, and displays below icon image and hamburger button
*/
header .wrapper {
  display: flex;
  gap: var(--main-spacing);
  padding-top: calc(var(--main-spacing) / 2);
  padding-bottom: calc(var(--main-spacing) / 2);
  justify-content: space-between;
  align-items: flex-start;
}
header.active .wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "title hamburger"
    "nav nav";
}
/* define grid template areas */
header #header-title { grid-area: title; }
header #hamburger { grid-area: hamburger; }
header nav { grid-area: nav; }


/* Reset main.css default line-height - prevents extra white-space */
header #header-title,
header #hamburger { line-height: 0; }

/* Set custom size for title image and hamburger svg */
header #header-title img,
#hamburger svg {
  --size: 40px;
  width: var(--size);
  height: var(--size);
}


/* Title Icon Image */
#header-title img { border-radius: 50%; }

/* Nav Links */
header nav {
  display: none;
  flex-direction: column;
  gap: var(--main-spacing);
  padding-bottom: var(--main-spacing);
}
header.active nav { display: flex; }
header nav a { color: var(--light); }


/* Hamburger Button */
#hamburger:hover svg {
  fill: var(--blue-600);
}
/* toggle hamburger "bars" svg with "x" svg */
header .hamburger-x { display: none; }
header.active .hamburger-bars { display: none; }
header.active .hamburger-x { display: block; }


/* Desktop Header Layout - No Hamburger Menu, Nav Always Displayed */
@media (min-width: 1000px) {
  /* all elements on same row */
  header.active .wrapper { display: flex; }
  /* no hamburger */
  #hamburger { display: none; }
  /* nav links on one line */
  header nav {
    display: flex;
    align-self: center;
    flex-direction: row;
    padding-bottom: 0;
  }
}

/* Footer ------------------------------------------------------------------- */
footer {
  background: var(--grey-600);
  color: var(--light);
}
footer .wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--main-spacing);
  justify-content: center;
  padding: var(--main-spacing);
  text-align: center;
}

footer nav {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--main-spacing);
}

@media (min-width: 1000px) {
  footer .wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Main --------------------------------------------------------------------- */
main {
  padding: var(--main-spacing) 0;
}
