.email{
	color: white;
}

.links{
	
  	text-decoration: none; /* no underline */
  	color:#343c44;
}
.card{
	border:none;
	
}

.card *:hover{
	text-decoration: none !important;


}
.test{
	background-color: blue;
}


body {
    font-family: 'Poppins';font-size: 22px;
    
}




.card-body{
	
	padding-right: 0;
	padding-left: 0; 
}




@media (min-width: 576px) {

	.container-fluid .row{
		
		height: 50%;
		
	}
	

}